/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");



::selection {
  color: #fff;
}

.serv {
  display: grid;
  height: 90%;
  place-items: center;
  background: #eeeeee;
}
.container888 {
  max-width: 1145px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.container888 .box888 {
  width: calc(33% - 20px);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 28px;
  border-radius: 15px;
}
.container888 .box888:hover{
  transform: scale(1.1);
}
.box888 .quote i {
  margin-top: 10px;
  font-size: 45px;
  color: #17c0eb;
}

.container888 .box888 .image888 {
  margin: 10px 0;
  height: 250px;
  width: 250px;
  background: #effffd;
  padding: 3px;
  border-radius: 50%;
}
.box888 .image888 img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

.box888 p,
.box2888 p {
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}
.box888 .name_job888 {
  margin: 10px 0 3px 0;
  color: #8e44ad;
  font-size: 18px;
  font-weight: 600;
}

.btns888 {
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.btns888 button {
  background: #8e44ad;
  width: 100%;
  padding: 9px 0px;
  outline: none;
  border: 2px solid #8e44ad;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #8e44ad;
  transition: all 0.3s linear;
}
.btns888 button:first-child {
  background: none;
  margin-right: 5px;
}
.btns888 button:last-child {
  color: #8e44ad;
  margin-left: 5px;
}
.btns888 button:first-child:hover {
  background: #8e44ad;
  color: #fff;
}
.btns888 button:hover {
  color: #fff;
}

@media (max-width: 1045px) {
  .container888 .box888 {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width: 710px) {
  .container888 .box888 {
    width: 100%;
  }
}

:root {
  --blue: #3360db;
  --grey: #423f3e;
  --black: rgb(0, 0, 0);
  --light-color: rgb(0, 0, 0);
  --box-shadow: 0.5rem 0.5rem 0 rgba(22, 160, 133, 0.2);
  --border: 0.2rem solid var(--grey);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}
#more {
  display: none;
}
section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: #f5f5f5;
}
section:nth-child(odd) {
  background: #f5f5f5;
}
.hd{
  text-align: center;
  padding-bottom: 2rem;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  color: var(--black);
  font-size: 4rem;
 
}
.heading {
  text-align: center;
  padding-bottom: 2rem;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  color: var(--black);
  font-size: 3rem;

}

.heading span {
  text-transform: uppercase;
  color: var(--green);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem;
  padding-left: 1rem;
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  color: var(--green);
  cursor: pointer;
  font-size: 1.7rem;
  background: #fff;
}

.btn span {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  background: var(--green);
  color: #fff;
  margin-left: 0.5rem;
}

.btn:hover {
  background: var(--green);
  color: #fff;
}

.btn:hover span {
  color: var(--green);
  background: #fff;
  margin-left: 1rem;
}

.headerhome {
  padding: 2rem 9%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(255, 211, 211);
}

.headerhome .logo {
  font-size: 2.5rem;
  color: var(--black);
}

.headerhome .logo i {
  color: var(--green);
}

.headerhome .navbar a {
  font-size: 1.7rem;
  color: var(--light-color);
  margin-left: 2rem;
}

.headerhome .navbar a:hover {
  color: var(--green);
}

#menu-btn {
  font-size: 2.5rem;
  border-radius: 0.5rem;
  background: #eee;
  color: var(--green);
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: none;
}

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 10rem;
}

.home .image {
  flex: 1 1 45rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  flex: 1 1 20rem;
}

.home .content h3 {
  font-size: 4.5rem;
  color: var(--black);
  line-height: 1.8;
  text-shadow: var(--text-shadow);
}

.home .content p {
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 1.8;
  padding: 1rem 0;
}

.icons-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icons-container .icons {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  text-align: center;
  padding: 2.5rem;
}

.icons-container .icons i {
  font-size: 4.5rem;
  color: var(--green);
  padding-bottom: 0.7rem;
}

.icons-container .icons h3 {
  font-size: 4.5rem;
  color: var(--black);
  padding: 0.5rem 0;
  text-shadow: var(--text-shadow);
}

.icons-container .icons p {
  font-size: 1.7rem;
  color: var(--light-color);
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
}

.services .box-container .box {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 2.5rem;
}

.services .box-container .box:hover {
   transform:scale(1.1)
}

.services .box-container .box i {
  color: var(--green);
  font-size: 5rem;
  padding-bottom: 0.5rem;
}

.services .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding: 1rem 0;
}

.services .box-container .box p {
  color: var(--light-color);
  font-size: 1.4rem;
  line-height: 2;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  height: 60%;
  width: 70%;
}

.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content h3 {
  color: var(--black);
  text-shadow: var(--text-shadow);
  font-size: 3rem;
  line-height: 1.8;
}

.about .row .content p {
  color: var(--light-color);
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 1.8;
}

.icons ion-icon {
  color: #fff;
  font-size: 30px;
  padding-left: 14px;
  padding-top: 5px;
  transition: 0.3s ease;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--black);
  padding: 1rem 0;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--green);
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  color: var(--light-color);
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}





@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .headerhome{
      padding: 2rem;
  }

  section{
      padding:2rem;
  }

}

@media (max-width:768px){

  #menu-btn{
      display: initial;
  }

  .headerhome .navbar{
      position: absolute;
      top:115%; right: 2rem;
      border-radius: .5rem;
      box-shadow: var(--box-shadow);
      width: 30rem;
      border: var(--border);
      background: #fff;
      transform: scale(0);
      opacity: 0;
      transform-origin: top right;
      transition: none;
  }

  .headerhome .navbar.active{
      transform: scale(1);
      opacity: 1;
      transition: .2s ease-out;
  }

  .headerhome .navbar a{
      font-size: 2rem;
      display: block;
      margin:2.5rem;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

}

.navbar {
  overflow: hidden;
  font-family: Arial;
}


.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.dropdown {
  float: left;
  overflow: hidden;
}


.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: #42023d;
  padding: 14px 16px;
  border-radius: 10px;

  font-family: inherit; 
  margin: 0; 
}

.navbar a:hover,
.dropdown:hover .dropbtn {
 
  text-decoration: underline solid rgb(44, 6, 44);
}

.navbar a:hover {
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.dropdown-content a {
  float: none;

  padding: 12px 1px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
} */



@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


::selection {
  color: #fff;
}

 .btns888 button:first-child:hover {
  background: #8e44ad;
  color: #fff;
} 
.btns888 button:hover {
  color: #fff;
}

.serv {
  display: grid;
  height: 90%;
  place-items: center;
  background: #eeeeee;
}
.container888 .box888:hover{
  transform: scale(1.1);
} 
.container888 {
  max-width: 1145px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

 .services .box-container .box:hover {
  transform:scale(1.1)
} 

.container888 .box888 {
  width: calc(33% - 20px);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 28px;
  border-radius: 15px;
}
.container8 .box888 {
  width: calc(100% - 20px);
}
.container8 .box888 .image img {
  border-radius: 3rem;
}
.box888 .quote i {
  margin-top: 10px;
  font-size: 45px;
  color: #17c0eb;
}

.container888 .box888 .image888 {
  margin: 10px 0;
  height: 250px;
  width: 250px;
  background: #effffd;
  padding: 3px;
  border-radius: 50%;
}
.box888 .image888 img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}
.details {
  padding-top: 3%;
  font-size: medium;
  padding-left:20%
}
.box888 p,
.box2888 p {
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}
.box888 .name_job888 {
  margin: 10px 0 3px 0;
  color: #8e44ad;
  font-size: 18px;
  font-weight: 600;
}

.btns888 {
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.btns888 button {
  background: #8e44ad;
  width: 100%;
  padding: 9px 0px;
  outline: none;
  border: 2px solid #8e44ad;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #8e44ad;
  transition: all 0.3s linear;
}
.btns888 button:first-child {
  background: none;
  margin-right: 5px;
}
.btns888 button:last-child {
  color: #8e44ad;
  margin-left: 5px;
}


@media (max-width: 1045px) {
  .container888 .box888 {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width: 710px) {
  .container888 .box888 {
    width: 100%;
  }
}

:root {
  --blue: #3360db;
  --grey: #423f3e;
  --black: rgb(0, 0, 0);
  --light-color: rgb(0, 0, 0);
  --box-shadow: 0.5rem 0.5rem 0 rgba(22, 160, 133, 0.2);
  --border: 0.2rem solid var(--grey);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}
#more {
  display: none;
}
section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: #f5f5f5;
}
section:nth-child(odd) {
  background: #f5f5f5;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  color: var(--black);
  font-size: 4rem;
}

.heading span {
  text-transform: uppercase;
  color: var(--green);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem;
  padding-left: 1rem;
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  color: var(--green);
  cursor: pointer;
  font-size: 1.7rem;
  background: #fff;
}

.btn span {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  background: var(--green);
  color: #fff;
  margin-left: 0.5rem;
}

.btn:hover {
  background: var(--green);
  color: #fff;
}

.btn:hover span {
  color: var(--green);
  background: #fff;
  margin-left: 1rem;
}

.headerhome {
  padding: 2rem 9%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(255, 211, 211);
}

.headerhome .logo {
  font-size: 2.5rem;
  color: var(--black);
}

.headerhome .logo i {
  color: var(--green);
}

.headerhome .navbar a {
  font-size: 1.7rem;
  color: var(--light-color);
  margin-left: 2rem;
}

 .headerhome .navbar a:hover {
  color: var(--green);
} 

#menu-btn {
  font-size: 2.5rem;
  border-radius: 0.5rem;
  background: #eee;
  color: var(--green);
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: none;
}

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 10rem;
}

.home .image {
  flex: 1 1 45rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  flex: 1 1 25rem;
}

.home .content h3 {
  font-size: 4.5rem;
  color: var(--black);
  line-height: 1.8;
  text-shadow: var(--text-shadow);
}

.home .content p {
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 1.8;
  padding: 1rem 0;
}

.icons-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icons-container .icons {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  text-align: center;
  padding: 2.5rem;
}

.icons-container .icons i {
  font-size: 4.5rem;
  color: var(--green);
  padding-bottom: 0.7rem;
}

.icons-container .icons h3 {
  font-size: 4.5rem;
  color: var(--black);
  padding: 0.5rem 0;
  text-shadow: var(--text-shadow);
}

.icons-container .icons p {
  font-size: 1.7rem;
  color: var(--light-color);
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
}
.services1 .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  grid-auto-flow: column;
  gap: 2rem;
}

.services .box-container .box, .services1 .box-container .box{
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 2.5rem;
}

.services .box-container .box i, .services1 .box-container .box i {
  color: var(--green);
  font-size: 5rem;
  padding-bottom: 0.5rem;
}

.services .box-container .box h3, .services1 .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding: 1rem 0;
}

.services .box-container .box p , .services1 .box-container .box p{
  color: var(--light-color);
  font-size: 1.4rem;
  line-height: 2;
}

.services1 .box-container .box .imgp img{
  align-items: center;
}
.services1 .box-container .box .pp p{
  padding:5px;
}
.services1 .box-container .box .bt button {
  color: #fff;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: coral;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
 }
 
 .services1 .box-container .box .bt button:hover {
  border: 1px solid coral;
 }
 
 .services1 .box-container .box .bt button:active {
  box-shadow: 4px 4px 12px coral,
              -4px -4px 12px coral;
 }
.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  height: 60%;
  width: 70%;
}

.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content h3 {
  color: var(--black);
  text-shadow: var(--text-shadow);
  font-size: 3rem;
  line-height: 1.8;
}

.about .row .content p {
  color: var(--light-color);
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 1.8;
}

.icons ion-icon {
  color: #fff;
  font-size: 30px;
  padding-left: 14px;
  padding-top: 5px;
  transition: 0.3s ease;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--black);
  padding: 1rem 0;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--green);
}

 .footer .box-container .box a:hover i {
  padding-right: 2rem;
} 

.footer .credit {
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  color: var(--light-color);
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}




/* media queries  */
@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .headerhome{
      padding: 2rem;
  }

  section{
      padding:2rem;
  }

}

@media (max-width:768px){

  #menu-btn{
      display: initial;
  }

  .headerhome .navbar{
      position: absolute;
      top:115%; right: 2rem;
      border-radius: .5rem;
      box-shadow: var(--box-shadow);
      width: 30rem;
      border: var(--border);
      background: #fff;
      transform: scale(0);
      opacity: 0;
      transform-origin: top right;
      transition: none;
  }

  .headerhome .navbar.active{
      transform: scale(1);
      opacity: 1;
      transition: .2s ease-out;
  }

  .headerhome .navbar a{
      font-size: 2rem;
      display: block;
      margin:2.5rem;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

}

.navbar {
  overflow: hidden;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: #42023d;
  padding: 14px 16px;
  border-radius: 10px;
  /* background-color: inherit; */
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  /* background-color: rgb(66, 10, 52); */
  text-decoration: underline solid rgb(44, 6, 44);
}

.navbar a:hover {
  color: white;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  /* color: black; */
  padding: 12px 1px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}