




   @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");



::selection {
  color: #fff;
}



html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}
#more {
  display: none;
}
section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: #f5f5f5;
}
section:nth-child(odd) {
  background: #f5f5f5;
}

.heading_navbar {
  text-align: center;
  padding-bottom: 2rem;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  color: var(--black);
  font-size: 5rem;
  letter-spacing: 0.4rem;
}

.heading_navbar span {
  text-transform: uppercase;
  color: var(--green);
}

.btn_navbar {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem;
  padding-left: 1rem;
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  color: var(--green);
  cursor: pointer;
  font-size: 1.7rem;
  background: #fff;
}

.btn_navbar span {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  background: var(--green);
  color: #fff;
  margin-left: 0.5rem;
}

.btn_navbar:hover {
  background: var(--green);
  color: #fff;
}

.btn_navbar:hover span {
  color: var(--green);
  background: #fff;
  margin-left: 1rem;
}

.header_navbar {
  padding: 2rem 9%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(255, 211, 211);
}

.header_navbar .logo {
  font-size: 2.5rem;
  color: var(--black);
}

.header_navbar .logo i {
  color: var(--green);
}

.header_navbar .navbar_navbar a {
  font-size: 1.7rem;
  color: var(--light-color);
  margin-left: 2rem;
}

.header_navbar .navbar_navbar a:hover {
  color: var(--green);
}

#menu-btn {
  font-size: 2.5rem;
  border-radius: 0.5rem;
  background: #eee;
  color: var(--green);
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: none;
}





/* media queries  */
@media (max-width:991px){
 html{
      font-size: 55%;
  } 

  .header_navbar{
      padding: 2rem;
  }

  section{
      padding:2rem;
  }

}

@media (max-width:768px){

  #menu-btn{
      display: initial;
  }

  .header_navbar .navbar_navbar{
      position: absolute;
      top:115%; right: 2rem;
      border-radius: .5rem;
      box-shadow: var(--box-shadow);
      width: 30rem;
      border: var(--border);
      background: #fff;
      transform: scale(0);
      opacity: 0;
      transform-origin: top right;
      transition: none;
  }

  .header_navbar .navbar_navbar.active{
      transform: scale(1);
      opacity: 1;
      transition: .2s ease-out;
  }

  .header_navbar .navbar_navbar a{
      font-size: 2rem;
      display: block;
      margin:2.5rem;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

}

.navbar_navbar {
  overflow: hidden;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar_navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown_navbar {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown_navbar .dropbtn_navbar {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: #42023d;
  padding: 14px 16px;
  border-radius: 10px;
  /* background-color: inherit; */
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar_navbar a:hover,
.dropdown_navbar:hover .dropbtn_navbar {
  /* background-color: rgb(66, 10, 52); */
  text-decoration: underline solid rgb(44, 6, 44);
}

.navbar_navbar a:hover {
  color: white;
}
/* Dropdown content (hidden by default) */
.dropdown-content_navbar {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content_navbar a {
  float: none;
  /* color: black; */
  padding: 12px 1px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown_navbar:hover .dropdown-content_navbar {
  display: block;
}